.accordion {
	max-width: 750px;

	&__item {
		border-top: 1px solid var(--border-color-dark);

		&[open] {
			.accordion__item-header {
				&::after {
					transform: rotate(-135deg);
				}
			}
		}

		&:last-child {
			border-bottom: 1px solid var(--border-color-dark);
		}

		&-header {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;

			position: relative;
			justify-content: space-between;
			padding-block: #{rem(20)};
			cursor: pointer;
			list-style: none;

			&::after {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%) rotate(-45deg);
				width: 8px;
				height: 8px;
				content: "";
				border-width: 0 1px 1px 0;
				border-style: solid;
				border-color: #000;
				padding: 3px;
			}

			&-title {
				@include fluid-text(18, 14);
				font-family: var(--font-family-base-bold);
			}

			&-time {
				@include fluid-text(14, 14);
			}

			&-top {
				display: flex;
				column-gap: 30px;
				align-items: center;
			}


			&-rating-result {
				margin-top: #{rem(10)};
			}
		}

		&-content {
			@include fluid-text(18, 14);
			padding-bottom: #{rem(20)};
		}
	}


}