.action-button {
	display: flex;
	justify-content: center;
	padding: #{rem(15)} #{rem(20)};
	@include fluid-text(14, 12);
	font-family: var(--font-family-base-medium);
	border-radius: var(--border-radius_min);
	background-color: var(--accent-button-color);
	color: var(--text-color-maxlight);
	line-height: 100%;
	white-space: nowrap;

	@include hover {
		background-color: var(--accent-color);
	}
}