.additional {
	&__title {
		grid-area: title;
		@include fluid-text(18, 18);
		color: var(--text-color-maxlight);
	}

	&__list {
		margin-top: #{rem(30)};
		color: var(--text-color-minlight);
	}

	&__item {
		@include fluid-text(16, 16);

		&+& {
			margin-top: #{rem(10)};
		}
	}

	&__item-link {}
}