.advantages {
	display: grid;
	isolation: isolate;

	&_w-bg {
		grid-template-columns: 10px 1fr 10px;
		grid-template-rows: auto #{rem(20)} #{rem(50)} auto #{rem(50)};
		grid-template-areas: ". title ."
			". . ."
			". . ."
			". list ."
			". . .";

		&::before {
			grid-column: 1/-1;
			grid-row: 3/-1;
			height: 100%;
			display: flex;
			content: "";
			background-color: var(--bg-main-color);
			z-index: -1;
		}

		@container (min-width: 1200px) {
			grid-template-columns: 10px 1fr minmax(40px, 305px) 15px 65px minmax(40px, 365px) 20px minmax(40px, 365px) 20px minmax(40px, 365px) 1fr 10px;
			grid-template-rows: #{rem(150)} auto #{rem(150)};
			grid-template-areas: ". . . . . . . . . . . ."
				". . title . . list list list list list . ."
				". . . . . . . . . . . .";

			&::before {
				grid-row: 1/-1;
			}
		}
	}

	&_simple {
		grid-template-columns: 1fr;
		grid-template-rows: auto #{rem(30)} auto;
		grid-template-areas: "title"
			"."
			"list";

		@include mobile-above {
			grid-template-rows: auto #{rem(50)} auto;
		}
	}

	&__title {
		grid-area: title;
	}

	&__list {
		grid-area: list;
		display: flex;
		flex-wrap: wrap;
		margin: -10px -5px;

		@container (min-width: 480px) {
			margin: -10px -5px;
		}

		@container (min-width: 1004px) {
			margin: -10px -10px;
		}
	}

	&__list-item {
		width: calc(100% / 1 * 1 - 10px);
		margin: 10px 5px;
		counter-increment: number;

		@container (min-width: 680px) {
			width: calc(100% / 3 * 1 - 10px);
			margin: 10px 5px;
		}

		@container (min-width: 1004px) {
			width: calc(100% / 3 * 1 - 20px);
			margin: 10px 10px;
		}
	}
}

.advantage {
	position: relative;
	height: 100%;
	display: grid;
	grid-template-columns: 15px 1fr 15px;
	grid-template-rows: #{rem(10)} #{rem(30)} auto #{rem(10)} 1fr #{rem(30)};
	grid-template-areas: ". . ."
		". . ."
		". title ."
		". . ."
		". content ."
		". . .";
	border-radius: var(--border-radius_min);
	text-align: center;
	align-items: start;
	background-color: #fff;

	&_w-border {
		border: 1px solid var(--border-color-dark);
	}


	&::before {
		position: absolute;
		width: #{rem(20)};
		height: #{rem(20)};
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		@include fluid-text(16, 14);
		font-family: var(--font-family-base-bold);
		border-radius: 3px;
		border: 1px solid var(--border-color-dark);
		content: counter(number);

		@container (min-width: 1004px) {
			width: #{rem(40)};
			height: #{rem(40)};
			border-radius: var(--border-radius_min);
		}
	}

	&__title {
		grid-area: title;
		@include fluid-text(16, 14);
	}

	&__content {
		grid-area: content;
		@include fluid-text(16, 14);
	}
}