.archive-tools {
	display: none;

	@container (min-width: 800px) {
		display: grid;
		grid-template-columns: minmax(100px, 365px) 20px minmax(100px, 365px) 20px minmax(100px, 365px) 1fr;
		align-items: center;
	}

	&__search-container {
		grid-column: 1/4;
		position: relative;

	}

	&__city-form {
		grid-column: 1/4;
	}

	&__sort-filter {
		grid-column: 1/4;
	}
}