.article-navigation {
	max-width: var(--content-narrow);

	&__list {}

	&__item {
		display: flex;
		align-items: center;
		gap: 10px;

		&+& {
			margin-top: #{rem(10)};
		}

		&::before {
			display: flex;
			content: "";
			width: #{rem(8)};
			height: #{rem(8)};
			border-radius: #{rem(50)};
			background-color: var(--text-color-base);
		}

		&-link {
			@include fluid-text(18, 14);

			@include hover {
				color: var(--text-hover-color);
			}
		}
	}
}