.block-aside {
	display: flex;
	flex-direction: column;
	row-gap: 2px;

	&__title {
		background-color: #fff;
		display: grid;
		grid-template-columns: 10px 1fr 40px 15px 230px 20px;
		grid-template-rows: #{rem(80)} auto #{rem(50)};
		grid-template-areas: ". . . . . ."
			". . link link link ."
			". . . . . .";

		&-link {
			grid-area: link;
			@include fluid-text(18, 16);
		}
	}

	&__list {
		display: grid;
		row-gap: 2px;
	}

	&__list-item {
		min-height: #{rem(80)};
	}
}