.brend-category {
	display: flex;
	border-radius: var(--border-radius_min);

	&_w-border {
		border: 1px solid var(--border-color-dark);

		&:hover {
			border-color: var(--hover-color);
		}
	}

	&__pic {
		width: 100%;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}