.breakdowns {
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: #{rem(20)};
	}

	&__search-container {
		margin-bottom: #{rem(40)};
	}

	&__header {}

	&__pagination {
		margin-top: #{rem(40)};
	}

	&__link {
		margin-bottom: #{rem(20)};
		align-self: start;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -10px -10px;
	}

	&__list-item {
		container-type: inline-size;
		width: calc(100% / 1 * 1 - 20px);
		margin: 10px 10px;

		@container (min-width: 480px) {
			width: calc(100% / 2 * 1 - 20px);
			margin: 10px 10px;
		}

		@container (min-width: 1004px) {
			width: calc(100% / 3 * 1 - 20px);
			margin: 10px 10px;
		}

		@container (min-width: 1200px) {
			width: calc(100% / 4 * 1 - 20px);
			margin: 10px 10px;
		}
	}
}

.breakdown {
	display: flex;
	height: 100%;
	flex-direction: column;
	padding: 30px;
	border-radius: var(--border-radius_min);
	border: 1px solid var(--border-color-dark);

	&__title {
		flex-grow: 1;
	}

	&__subtitle {
		display: block;
		padding-block: #{rem(15)};
		border-bottom: 2px solid var(--theme-color);
	}

	&__list {
		margin-top: #{rem(10)};
		list-style-type: disc;
		padding-left: 20px;
	}

	&__list-item {
		@include fluid-text(16, 14);
	}

	&__link {
		margin-top: #{rem(20)};
		grid-area: link;
		align-self: start;
	}
}