.cart {
	container-type: inline-size;
	display: flex;
	flex-wrap: wrap;
	column-gap: 40px;
}

.cart__header {
	flex-basis: 100%;
}

.cart__main {
	flex-basis: calc(50% - 40px);
}

.cart__table {
	width: 100%;
}

.cart__table-header {}

.cart__table-row {
	display: flex;
	padding-block: 10px;

	&_bordered {
		border-top: 1px solid var(--border-color-dark);
	}
}

.cart__table-column {
	text-align: left;

	&:not(:first-child) {
		padding-left: 20px;
	}

	&:nth-child(2) {
		flex-grow: 1;
	}
}