.city-form {
	&:has(.city-form__title) {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&__select {
		min-height: 40px;
		padding-inline: 20px;
		border-radius: var(--border-radius_mid);
		border: 1px solid var(--border-color-dark);
		font-size: 14px;
		min-width: 170px;
	}

	&__select {
		display: grid;
	}

	&__option {
		line-height: 40px;
	}
}