.contacts {
	&_light {
		color: var(--text-color-minlight);
	}

	&__item {
		&+& {
			margin-top: #{rem(15)};
		}

		&:hover {
			.icon {
				border: 1px solid var(--bg-light-color);
				background-color: transparent;

				path {
					fill: var(--bg-light-color);
				}
			}

			.contacts__item-link {
				color: var(--text-color-maxlight);
			}
		}
	}

	&__item-link {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
}