.errors {
	&:has(.errors__title):has(.errors__link) {
		display: grid;
		grid-template-rows: auto #{rem(40)} auto #{rem(50)} auto;
		grid-template-areas: "title"
			"."
			"link"
			"."
			"list";
	}

	&:has(.errors__title):not(:has(.errors__link)) {
		display: grid;
		grid-template-rows: auto #{rem(40)} auto;
		grid-template-areas: "title"
			"."
			"list";
	}

	&:not(:has(.errors__title):has(.errors__link)) {
		display: grid;
	}

	&__title {
		grid-area: title;
	}

	&__link {
		grid-area: link;
		justify-content: center;

		@container (min-width: 1004px) {
			justify-self: start;
		}
	}

	&__lists {
		grid-area: list;
		display: flex;
		flex-wrap: wrap;
	}
}