.errors {
	&__title {
		margin-bottom: #{rem(40)};
	}

	&__link {
		margin-bottom: #{rem(40)};
		display: flex;
		justify-self: start;
	}

	&__chapter {
		display: flex;
		flex-direction: column;

		&+& {
			margin-top: #{rem(40)};
		}

		&-title {
			margin-bottom: #{rem(20)};
			font-family: var(--font-family-base);
			font-weight: 400;
			@include fluid-text(16, 14);
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			margin: -10px -10px;

			@container (min-width: 1004px) {
				margin: -10px -10px;
			}
		}

		&-item {
			width: calc(100% / 1 * 1 - 10px);
			margin: 10px 10px;

			@container (min-width: 480px) {
				width: calc(100% / 2 * 1 - 20px);
			}

			@container (min-width: 680px) {
				width: calc(100% / 3 * 1 - 20px);
			}

			@container (min-width: 1200px) {
				width: calc(100% / 4 * 1 - 20px);
			}
		}
	}
}

.error {
	&__link {
		display: flex;
		justify-content: center;
		padding: #{rem(20)};
		border-radius: var(--border-radius_min);

		&_dark {
			border: 1px solid var(--border-color-dark);

			&:hover {
				border-color: var(--hover-color);
			}
		}

		&_accent {
			border: 1px solid var(--accent-button-color);
			color: var(--accent-button-color);

			&:hover {
				border-color: var(--accent-color);
				color: var(--accent-color);
			}
		}
	}
}