.icon {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: var(--border-radius_min);
	line-height: 100%;
	transition: background-color var(--transition-duration) ease, border var(--transition-duration) ease;

	&_squire {
		aspect-ratio: 1/1;
		justify-content: center;

		&-max {
			width: #{rem(60)};
		}

		&-min {
			width: #{rem(40)};
		}
	}

	&__svg {
		path {
			fill: #000;
		}

		&_reverse {
			fill: #F1F1F1;
		}

		&_min {
			width: #{rem(20)};
			height: #{rem(20)};
		}

		&_max {
			width: #{rem(40)};
			height: #{rem(40)};
		}
	}

	&__data {
		position: absolute;
		top: 0;
		right: 0;
		width: 20px;
		height: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(50%, -50%);
		color: var(--bg-light-color);
		background-color: var(--bg-dark-color);
		border-radius: 50%;

		@include fluid-text(12, 12);
	}

	&_w-border {
		border: 1px solid var(--border-color-dark);

		@include hover {
			border: 1px solid var(--hover-color);
		}
	}

	&_w-bg {
		background-color: var(--bg-light-color);


	}
}