.lists {
	display: grid;
	gap: #{rem(50)};

	&__chapter {
		display: grid;
		grid-template-rows: auto #{rem(30)} auto;
		grid-template-areas: "title"
			"."
			"list";


		&-title {
			grid-area: title;
			font-family: var(--font-family-base-bold);
			@include fluid-text(20, 14);
		}

		&-list {
			grid-area: list;
			display: flex;
			flex-wrap: wrap;
			margin: -5px -5px;

			@container (min-width: 1004px) {
				margin: -10px -10px;
			}
		}

		&-item {
			width: calc(100% / 1 * 1 - 10px);
			margin: 5px 5px;

			@container (min-width: 480px) {
				width: calc(100% / 2 * 1 - 10px);
			}

			@container (min-width: 680px) {
				width: calc(100% / 3 * 1 - 10px);
			}

			@container (min-width: 1004px) {
				width: calc(100% / 4 * 1 - 20px);
				margin: 10px 10px;
			}
		}
	}
}