.posts {
	display: grid;
	grid-template-rows: auto #{rem(50)} auto #{rem(40)} auto;

	&:has(.posts__title) {
		grid-template-areas: "title"
			"."
			"link"
			"."
			"list";
	}

	&:has(.posts__header) {
		grid-template-areas: "header"
			"."
			"list"
			"."
			"pagination";
	}

	&__title {
		grid-area: title;
	}

	&__header {
		grid-area: header;
	}

	&__pagination {
		grid-area: pagination;
	}

	&__link {
		grid-area: link;
		justify-content: center;

		@container (min-width: 1004px) {
			justify-self: start;
		}
	}

	&__list {
		grid-area: list;
		display: flex;
		flex-wrap: wrap;
		margin: -10px -10px;

		@container (min-width: 1004px) {
			margin: -10px -10px;
		}

		&-item {
			width: calc(100% / 2 * 1 - 20px);
			margin: 10px 10px;

			@container (min-width: 680px) {
				width: calc(100% / 3 * 1 - 20px);
				margin: 10px 10px;
			}

			@container (min-width: 1200px) {
				width: calc(100% / 4 * 1 - 20px);
				margin: 10px 10px;
			}
		}
	}
}