.products {
	display: flex;
	flex-direction: column;

	&__title {
		margin-bottom: #{rem(20)};
	}

	&__link {
		justify-content: center;
		align-self: start;
		display: flex;
		margin-bottom: #{rem(20)};
	}

	&__pagination {
		margin-top: #{rem(40)};
	}

	&__sort-filter {
		margin-bottom: #{rem(40)};
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: -5px -5px;

		@container (min-width: 480px) {
			margin: -10px -10px;
		}
	}

	&__item {
		width: calc(100% / 2 * 1 - 10px);
		margin: 5px 5px;

		@container (min-width: 480px) {
			width: calc(100% / 2 * 1 - 20px);
			margin: 10px 10px;
		}

		@container (min-width: 1004px) {
			width: calc(100% / 4 * 1 - 20px);
		}

		@container (min-width: 1200px) {
			width: calc(100% / 5 * 1 - 20px);
		}
	}
}

.product {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius_min);
	border: 1px solid var(--border-color-dark);
	transition: border 0.3s ease-out;
	overflow: hidden;
	padding: 10px;

	@include hover {
		border-color: var(--hover-color);

		.product__img {
			transform: scale(1.1);
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
	}

	&__pic {
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: auto;
		object-fit: cover;
		transition: transform 0.3s ease-out;
	}

	&__title {
		margin-top: #{rem(10)};
		@include fluid-text(16, 12);
	}

	&__data {
		margin-top: #{rem(10)};
		padding-inline: 10px;
	}

	&__button {
		margin-top: #{rem(20)};
		align-self: start;
	}

	&__price {}

	&__rating-result {
		margin-top: #{rem(10)};
	}
}