.reviews {
	&__header {
		display: flex;
		align-items: center;
		column-gap: 40px;
	}
}

.reviews__title {}

.reviews__button {
	display: flex;
	align-items: center;
	padding-inline: 20px;
	height: #{rem(40)};
	border-radius: var(--border-radius_min);
	border: 1px solid var(--border-color-dark);
}

.reviews__add {}

.reviews__accordion {
	margin-top: #{rem(40)};
}

.reviews__form {
	display: flex;
	flex-direction: column;
	margin-top: #{rem(20)};
}

.reviews-form__area {
	margin-top: #{rem(10)};
	border: 1px solid var(--border-color-dark);
	border-radius: var(--border-radius_mid);
	padding: 10px;
	resize: none;
}

.reviews-form__rating {
	display: flex;
	align-self: start;
	position: relative;
	font-size: 24px;
	display: inline-block;

	&::before {
		display: block;
		content: "★★★★★";
		color: var(--bg-main-color);
		line-height: 1;
	}
}

.reviews-form__items {
	position: absolute;

	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}

.rating-area__set-input {
	display: inline;
	margin: 0;
	width: 0;
	height: 0;
	visibility: hidden;
}

.rating-area__set-input:checked,
.rating-area__set-input:checked~.rating-area__set-label {
	color: var(--theme-color);
}

.rating-area__set-label {
	flex: 0 0 20%;
	color: var(--bg-main-color);
	line-height: 1;


	&::before {
		content: "★";
		display: inline;
		transition: color var(--transition-duration) ease;
	}
}

.rating-area__set-label:hover,
.rating-area__set-label:hover~.rating-area__set-label,
.rating-area__set-label:checked~.rating-area__set-label:hover {
	color: var(--theme-color) !important;
}

.reviews-form__submit {
	margin-top: #{rem(10)};
	align-self: start;
}

.rating-area__set {}

.rating-area__items {}