.search-result {

	&__list {}

	&__pagination {
		margin-top: #{rem(40)};
	}

	&__item {
		border-bottom: 1px solid var(--border-color-dark);

		&-link {
			display: flex;
			column-gap: 20px;
			padding-block: #{rem(20)};
		}

		&-pic {
			max-width: 100px;
			border-radius: var(--border-radius_min);
			overflow: hidden;
			align-self: start;
		}

		&-img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}

		&-title {
			@include fluid-text(18, 16);
		}

		&-content {
			@include fluid-text(16, 14);
		}

		&-excerpt {
			margin-top: #{rem(10)};
		}
	}
}