.service {
	@include hover {
		.service__icon {
			background-color: var(--hover-color-light);
		}

		.service__title {
			color: var(--text-hover-color);
		}
	}

	display: grid;
	grid-template-columns: 20px auto 15px 1fr 20px;
	grid-template-rows: #{rem(15)} auto #{rem(15)};
	grid-template-areas: ". . . . ."
	". icon . title ."
	". . . . .";
	align-items: center;
	justify-content: start;
	border-radius: var(--border-radius_min);
	border: 1px solid var(--border-color-dark);

	&__icon {
		grid-area: icon;
	}

	&__title {
		grid-area: title;
		@include fluid-text(16, 16);
	}
}