.services {
	&:has(.services__title) {
		display: grid;
		grid-template-rows: auto #{rem(40)} auto;
		grid-template-areas: "title"
			"."
			"list";
	}

	&:not(:has(.services__title)) {
		display: grid;
		grid-template-areas: "list";
	}

	&__title {
		grid-area: title;
	}

	&__list {
		grid-area: list;
		display: flex;
		flex-wrap: wrap;
		margin: -10px -10px;
	}

	&__list-item {
		margin: 10px 10px;
		width: calc(100% / 1 * 1 - 20px);

		@container (min-width: 480px) {
			width: calc(100% / 2 * 1 - 20px);
		}

		@container (min-width: 1004px) {
			width: calc(100% / 4 * 1 - 20px);
		}
	}
}