.service {
	--decorative-line-height: 3px;

	@include hover {
		.service__icon {
			background-color: var(--hover-color-light);
		}

		.service__title {
			color: var(--text-hover-color);
		}
	}

	display: grid;
	grid-template-columns: auto 15px 1fr 20px;
	grid-template-rows: auto #{rem(25)} auto calc(#{rem(25)} - var(--decorative-line-height)) auto;
	grid-template-areas: "line-top line-top line-top line-top"
	". . . ."
	"icon . title ."
	". . . ."
	"line-bottom line-bottom line-bottom line-bottom";
	align-items: center;
	justify-content: start;


	&::before,
	&::after {
		display: flex;
		content: "";
		height: 3px;
	}

	&::before {
		grid-area: line-top;
		background-color: var(--theme-color);
	}

	&::after {
		grid-area: line-bottom;
	}

	&__icon {
		grid-area: icon;
	}

	&__title {
		grid-area: title;
	}
}