.social {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;

	&__item {
		border: 1px solid transparent;
		border-radius: 50%;

		@include hover {
			border: 1px solid var(--bg-light-color);
			background-color: transparent;

			.icon {
				path {
					fill: var(--bg-light-color);
				}
			}
		}
	}

	&__item-link {}
}