.workers__header__sort-filter {}

.sort-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 30px;
}

.sort-filter__title {
	opacity: 0.5;
}

.sort-filter__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.sort-filter__item {
	font-family: var(--font-family-base-bold);
}

.sort-filter__item--current {
	opacity: 0.5;
}

.sort-filter__item-link {}