.archive-tools__sort-filter {}

.sort-filter {}

.sort-filter__sort-form {}

.sort-form {
	display: flex;
	white-space: nowrap;
	column-gap: 40px;
	align-items: center;
}

.sort-form__set {
	display: flex;
	column-gap: 20px;
}

.sort-form__set-title {}

.sort-form__label:checked {
	color: var(--text-color-minlight);
}

.sort-form__label:has(.sort-form__radio:checked) {
	color: var(--text-color-minlight);
}

.sort-form__radio:checked {}