.text-list {
	max-width: 750px;

	&__list {
		&-item {
			&+& {
				margin-top: #{rem(30)};
			}

			&-title {
				@include fluid-text(18, 14);
				font-family: var(--font-family-base-medium);
			}

			&-content {
				margin-top: #{rem(15)};
				@include fluid-text(18, 16);
			}
		}
	}
}