.text-list {
	&__list {
		display: grid;
		row-gap: #{rem(30)};

		@include tablet-above {
			row-gap: #{rem(50)};
		}

		&-item {
			display: grid;
			row-gap: #{rem(15)};

			&-title {
				@include fluid-text(18, 14);
				font-family: var(--font-family-base-medium);
			}

			&-content {
				@include fluid-text(18, 16);
			}
		}
	}
}