.workers {
	display: grid;
	grid-template-rows: auto #{rem(30)} auto #{rem(30)} auto;

	@container (min-width: 768px) {
		grid-template-rows: auto #{rem(40)} auto #{rem(40)} auto #{rem(40)} auto;
	}

	&:has(.workers__title) {
		grid-template-areas: "title"
			"."
			"cities"
			"."
			"list"
			"."
			"link";
	}

	&:has(.workers__header) {
		grid-template-areas: "header"
			"."
			"list"
			"."
			"pagination";
	}

	&__title {
		grid-area: title;
	}

	&__link {
		grid-area: link;
		justify-self: start;
	}

	&__choice-city {
		grid-area: cities;
	}

	&__list {
		grid-area: list;
		display: flex;
		flex-wrap: wrap;
		margin: -5px -5px;

		@container (min-width: 1004px) {
			margin: -10px -10px;
		}

		&-item {
			width: calc(100% / 2 * 1 - 10px);
			margin: 5px 5px;
			border-radius: var(--border-radius_min);

			@container (min-width: 580px) {
				width: calc(100% / 3 * 1 - 10px);
			}

			@container (min-width: 1004px) {
				width: calc(100% / 4 * 1 - 20px);
				margin: 10px 10px;
			}
		}
	}


}