.workers__list-item {}

.workers__list-item_line {}

.worker-line {
	display: grid;
	grid-template-columns: repeat(3, minmax(10px, 365px));
	column-gap: 10px;
	grid-template-rows: auto #{rem(10)} auto #{rem(20)} auto #{rem(20)} auto #{rem(10)} auto #{rem(10)} auto #{rem(15)} auto #{rem(15)} auto;
	grid-template-areas: "title title title"
		". . ."
		"name name name"
		". . ."
		"pic pic ."
		". . ."
		"rating rating rating"
		". . ."
		"exp exp exp"
		". . ."
		"zones zones zones"
		". . ."
		"price price price"
		". . ."
		"tools tools tools";
	padding: 15px;
	border-radius: var(--border-radius_max);
	border: 1px solid var(--border-color-dark);
}

.worker-line__link {}

.worker-line__pic {
	grid-area: pic;
}

.worker-line__img {}

.worker-line__title {
	grid-area: title;
	@include fluid-text(24, 18);
}

.worker-line__name {
	grid-area: name;
	@include fluid-text(24, 18);
}

.worker-line__rating {
	grid-area: rating;
}

.worker-line__expirience {
	grid-area: exp;
	display: flex;
	column-gap: 8px;
}

.worker-line__expirience-key {}

.worker-line__expirience-value {}

.worker-line__worker-zones {
	grid-area: zones;
}

.worker-zones {}

.worker-zones__key {}

.worker-zones__value {}

.worker-zones__value-link {}

.tag-link {}

.worker-line__price {
	grid-area: price;
	display: flex;
	column-gap: 8px;
}

.worker-line__price-key {}

.worker-line__price-value {}

.worker-line__worker-tools {
	grid-area: tools;
}

.worker-tools {}

.worker-line__phone {}

.action-button {}