.breakdown-page {
	&__text-list {
		margin-top: #{rem(40)};

		@include tablet-above {
			margin-top: #{rem(50)};
		}
	}

	&__workers {
		margin-top: #{rem(50)};

		@include tablet-above {
			margin-top: #{rem(80)};
		}
	}

	&__breakdowns {
		margin-top: #{rem(50)};

		@include tablet-above {
			margin-top: #{rem(80)};
		}
	}
}