.breakdowns-page {
	&__advantages {
		margin-top: #{rem(50)};

		@include tablet-above {
			margin-top: #{rem(80)};
		}
	}

	&__workers {
		margin-top: #{rem(50)};

		@include tablet-above {
			margin-top: #{rem(80)};
		}
	}
}