.archive {}

.archive__header {
	max-width: var(--content-narrow);
}

.archive__title {}

.title {}

.title_h1 {}

.archive__description {
	margin-top: #{rem(30)};
	@include fluid-text(18, 16);
}

.archive__content {
	margin-top: #{rem(40)};
}