.aside {
	&_solid {
		background-color: #fff;
	}

	&_simple {
		&::after {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			content: "";
			background-color: #fff;
			min-height: 80px;
		}
	}

	@include tablet-above {
		display: flex;
		flex-direction: column;
		row-gap: 2px;
		justify-items: start;
	}
}