.footer {
	&__container {
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;
		padding-top: #{rem(40)};
		padding-bottom: #{rem(80)};
	}

	&_dark {
		background-color: var(--bg-dark-color);
	}

	&__all-nav {
		flex-grow: 1;
	}

	&__all-contacts {
		margin-top: #{rem(40)};
	}

	&__logo-block {
		flex-basis: 365px;
		align-self: start;
		margin-top: #{rem(40)};
	}

	&__footer-nav {
		margin-top: #{rem(40)};
	}

	&__additional {
		margin-top: #{rem(40)};
	}

	&__contacts {}

	&__social {
		margin-top: #{rem(40)};
	}

	&__copyright {
		flex-basis: 100%;
		margin-top: #{rem(60)};
	}
}

@import "../components/footer-nav";

@import "../components/_additional";

@import "../components/_contacts";

@import "../components/_social";

@import "../components/_copyright";