.page {
	container-type: inline-size;

	&_narrow {
		max-width: 1200px;
		margin-top: #{rem(65)};

		@include tablet-above {
			padding-left: 65px;
		}
	}

	&_landing {
		max-width: calc(var(--container-width) + var(--global-padding-x) * 2);
		margin-inline: auto;
	}
}